package components

templ AboutCard(service string, description string) {
	<div class="text-gray-200">
		<h3 class="font-bold">{service}</h3>
		<p class="text-sm text-gray-400">
			{description}
		</p>
	</div>
}
