package templates


templ SuccessBody() {
	<div class="flex items-center justify-center h-screen">
        <div class="sr-root">
      <div class="sr-main">
        <h1>Completed successfully</h1>

       <pre id="payment-intent"></pre>
      </div>
    </div>
    </div>
}

templ Success() {
	@Base() {
		@SuccessBody()
		
	}
}